.skeleton {
  background-color: rgba(33, 63, 125, 0.08);
  position: relative;
  overflow: hidden;
  border-radius: 4px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    animation: shimmer 1.5s infinite;
    transform: translateX(-100%);
  }
}

.circle {
  border-radius: 50%;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
