@use "@/styles/variables" as *;

.card {
  background: $color-background;
  border: 1px solid $color-border-light;
  border-radius: $radius-sm;
  box-shadow: $shadow-md;
}

.padding-none {
  padding: 0;
}

.padding-sm {
  padding: $spacing-md;
}

.padding-md {
  padding: $spacing-lg;
}

.padding-lg {
  padding: $spacing-xl;
}
